@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";


// Settings

$text-color			: #1b1b1b;

$home-page  		: #62193f;
$about-page 		: #315d8f;
$portfolio-page 	: #aa321a;
$contact-page 		: #422a25;

$footer-color		: #1f1f1f;

$pages				: home, about, portfolio, contact;
$colors-by-page     : $home-page, $about-page, $portfolio-page, $contact-page;

@function getValue($prop, $val, $search) {
    $n1: index($prop, $search);
    $n2: index($val, $search);
    @if($n1) {
        @return nth($val, $n1);
    } @else {
        @return nth($prop, $n2);
    }
}

/* Globals */

* { @include box-sizing(border-box); position: relative; }
body { margin: 0; font-family: 'Open Sans', 'Arial', sans-serif; color: $text_color; min-width: 960px; background-color: $footer-color;}
.wrapper { width: 960px; margin: 0 auto; display: block; }
.clearfix { @include clearfix(); }

#logo {
	display: block;
	background-image: image-url('logo.png');
	width: 270px;
	height: 99px;
	@include hide-text;
	margin: 25px 0 0 0;
}
h1 { padding: 30px 0 15px 0; }
p { font-size: 13px; line-height: 23px; padding-bottom: 15px; color: #aaa; }
em { font-style: italic; }
strong { font-weight: 600; color: #fff; }
h2 { padding: 15px 0 15px 0; border-bottom: 1px solid #777; margin-bottom: 10px;}

// Navigation styles

nav {
	z-index: 10;
	height: 37px;
	display: block;
	ul {
		width: 960px;
		margin: 0 auto;
		text-align: right;
		li {
			display: inline-block;
			a {
				position: relative;
				top: 5px;
				display: inline-block;
				margin: 0 0 0 10px;
				color: white;
				text-decoration: none;
				font-size: 13px;
				@include border-radius(5px);
				padding: 6px 7px 7px 7px;
				&:hover, &.active {
					background: rgba(0,0,0,0.7);
				}
			}
		}
	}
}

// Body styles

#body {
	display: block;
	article {
		z-index: 10;
		width: 960px;
		margin: 0 auto;
		section {
			width: 550px;
			padding: 15px;
			background: rgba(0,0,0,0.85);
			p { color: #ddd; }
			h1, h2, h3 { color: #fff; }
		}
	}
}

// Footer Styles

footer {
	background-image: image-url('sig.png'), image-url('footer.png');
	background-repeat: no-repeat, repeat;
	background-position: center -60px ;
	background-color: $footer-color;
	border-top: 1px solid #414141;
	border-bottom: 1px solid #414141;
	#footer-bar {
		margin-top: 70px;
		padding: 10px;
		background-color: $footer-color;
		border: 1px solid #414141;
		@include border-radius(5px);
		@include clearfix;
		overflow: visible !important;
		ul {
			display: inline-block;
			padding: 0 0 2px 0;
			li {
				display: inline;
				a {
					@include link-colors(#b1b1b1, lighten(#b1b1b1, 15));
					font-size: 12px;
					text-decoration: none;
					padding: 0 10px;
					position: relative;
					&.active, &:hover {
						&:before {
							content: '';
							display: block;
							position: absolute;
							top: -15px;
							left: 50%;
							margin-left: -5px;
							z-index: 99;
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 0 5px 8.7px 5px;
							border-color: transparent transparent #ffffff transparent;
							line-height: 0px;
							_border-color: #000000 #000000 #ffffff #000000;
							_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
						}
					}
				}
			}
		}
		#social {
			float: right;
			margin: -6px 0 0 0;
			a {
				@include link-colors(#b1b1b1, lighten(#b1b1b1, 15));
				display: inline-block;
				padding: 0 0 0 40px;
				margin: 0 0 0 15px;
				height: 30px;
				line-height: 30px;
				text-decoration: none;
				font-size: 12px;
				&.twitter {
					background-image: image-url('bird.png');
					background-repeat: no-repeat;
					background-position: left center;
				}
				&.facebook {
					background-image: image-url('fb.png');
					background-repeat: no-repeat;
					background-position: left center;
				}
			}
		}
	}
	p#copyright {
		padding: 15px 0;
		text-align: right;
		color: darken(#b1b1b1, 40);
		font-size: 12px;
		a {
			@include link-colors(darken(#b1b1b1, 30), darken(#b1b1b1, 20), darken(#b1b1b1, 10));
			text-decoration: none;
		}
	}
}

// Content Banners

.banner {
	text-align: center;
	width: 580px;
	margin-left: -30px;
	margin-bottom: 30px;
	margin-top: 15px;
	padding: 15px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		dispay: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 15px 15px 0;
		line-height: 0px; }
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		right: 0;
		dispay: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 15px 15px 0 0;
		line-height: 0px; }
	div {
		color: #ffffff;
		font-size: 14px;
		display: inline-block;
		height: 40px;
		line-height: 40px;
		margin: 0 auto;
		&#hgtv {
			background-image: image-url('hgtv.png');
			background-position: left center;
			background-repeat: no-repeat;
			padding-left: 80px; }
		strong {
			font-weight: 600;
			font-size: 15px;
		}
	}
}

// Image Gallery

.gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	@include clearfix;
	li {
		float: left;
		padding: 3px;
		margin: 0;
		a { float: left; }
		img {
			border: 3px solid white;
			width: 167px;
		}
	}
}

// Buttons

#homepage-btns {
	list-style: none;
	li {
		float: left;
		width: 33%;
		text-align: center;
		padding: 0 10px;
		a {
			@include background(image-url('button-bg.png'));
			background-position: top center;
			&:hover { background-position: bottom center; }
			border: 2px solid #674c46;
			@include border-radius(5px);
			@include text-shadow(0 -2px 0 rgba(0,0,0,0.5));
			font-size: 14px;
			width: 100%;
			height: 40px; line-height: 40px;
			display: inline-block;
			text-decoration: none;
			color: white !important;
		}
	}
}

a.btn {
	@include background(image-url('button-bg.png'));
	background-position: top center;
	&:hover { background-position: bottom center; }
	border: 2px solid #674c46;
	@include border-radius(5px);
	@include text-shadow(0 -2px 0 rgba(0,0,0,0.5));
	font-size: 14px;
	width: 100%;
	height: 40px; line-height: 40px;
	display: block;
	text-decoration: none;
	color: white !important;
	text-align: center !important;
	margin-bottom: 15px;
}


/* Themeability */

// Theme Mixins

@mixin banner-colors ($nav-color) { 
	.banner { 
		background-color: $nav-color;
		&:before {
			border-color: transparent darken($nav-color, 15) transparent transparent;
			_border-color: #000000 darken($nav-color, 15) #000000 #000000;
			_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		}
		&:after {
			border-color: darken($nav-color, 15) transparent transparent transparent;
			_border-color: darken($nav-color, 15) #000000 #000000 #000000;
			_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		}
	}
}

@mixin nav-colors ($nav-color) { nav { background: $nav-color; } }

@mixin body-colors ($body-color, $background-image) {
	#body {
		a {
			@include link-colors(lighten($body-color, 20), $body-color, darken($body-color, 10));
		}
		background-image: image-url($background-image);
		background-repeat: no-repeat;
		background-position: center center;
		background-color: $body-color;
		@include background-size(cover); } }

// Page States

#page-home {
	@include nav-colors($home-page);
	@include banner-colors($home-page);
	@include body-colors($home-page, 'bg-home.jpg'); }
#page-about {
	@include nav-colors($about-page);
	@include banner-colors($about-page);
	@include body-colors($about-page, 'bg-about.jpg'); }
#page-portfolio {
	@include nav-colors($portfolio-page);
	@include banner-colors($portfolio-page);
	@include body-colors($portfolio-page, 'bg-portfolio.jpg'); }
#page-contact {
	@include nav-colors($contact-page);
	@include banner-colors($contact-page);
	@include body-colors($contact-page, 'bg-contact.jpg'); }


// ShadowBox

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(/assets/img/shadowbox/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(/assets/img/shadowbox/close.png);}
#sb-nav-next{background-image:url(/assets/img/shadowbox/next.png);}
#sb-nav-previous{background-image:url(/assets/img/shadowbox/previous.png);}
#sb-nav-play{background-image:url(/assets/img/shadowbox/play.png);}
#sb-nav-pause{background-image:url(/assets/img/shadowbox/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}



